<div class="card bg-dark text-white middleContent contactImage" >
  <div class="overlay">
      <div class="card-img-overlay">
          <h5 class="card-title">Contact</h5>
          <p class="card-text">{{globals.description}} This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Version: {{globals.version}}</p>
          <p class="card-text">Location: {{globals.location}}</p>
        </div>
  </div>
    <!-- <img class="card-img aboutImage" src="./assets/images/bgm1.jpg" alt="Card image"> -->
    
  </div>